* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landingpage {
  width: 100%;
  height: 100vh;
  background: url('../public/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-close {
  filter: invert(50%);
}

.btn-close:hover {
  filter: invert(80%);
}

.chatbox {
  display: inline-block;
  width: 100%;
  min-height: 73vh;
  height: 73vh;
  overflow-y: auto;
  scrollbar-width: none;

  -ms-overflow-style: none; 
}
.right{
  /* float: right; */

  justify-content: end;

}
.left{
  /* float: left; */

  justify-content: start;

}
.rightmsg{
  background-color: #3e5c76;
}
.leftmsg{
  background-color: black;
}
.chatbox::-webkit-scrollbar {
  width: 0;
  height: 0;
}